body {
     background-color: #0f0;
     background-position: top right corner;
     background-repeat: no-repeat;
     background-size: 75%;
     background-clip: border-box;
     background-image: url("../assets/images/wallpaper.jpg");
     border-image-width: 100vw;
     background-attachment: fixed;
}
main {
     border-width: 1px;
     border-radius: 8px;
     border-color: red green blue yellow;
}     
footer {
     color: aliceblue;
}